.c-abstract {
    --abstract-flex-dir: row;
    --abstract-flex-align: center;

    --abstract-img-basis: 55%;

    --abstract-content-inset: auto auto auto -5%;
    --abstract-content-flex-align: flex-start;
    --abstract-content-bgcolor: #{getColor('light')};

    --abstract-text-align: left;

    @extend %component-padding;
    

    &.reverse {
        --abstract-flex-dir: row-reverse;
        --abstract-text-align: right;
        --abstract-content-inset: auto -5% auto auto;
        --abstract-content-flex-align: flex-end;
    }
    &.text-left {
        --abstract-content-flex-align: flex-start;
        --abstract-text-align: left;
    }
    &.text-center {
        --abstract-content-flex-align: center;
        --abstract-text-align: center;
    }
    &.text-right {
        --abstract-content-flex-align: flex-end;
        --abstract-text-align: right;
    }
    &.block-text-light {
        --abstract-content-bgcolor: #{getColor('primary')};
    }
    /*//WIP-848
    &.full {
        --abstract-img-basis: 50%;
        --abstract-content-inset: auto;
        .abstract__wrapper {
            width: 100%;
        }
    }*/
    .abstract {
        &__wrapper {
            @include mainContainer();
            position: relative;
            display: flex;
            flex-direction: var(--abstract-flex-dir);
            align-items: var(--abstract-flex-align);
        }
        &__img {
            flex-basis: var(--abstract-img-basis, 55%);
            img {
                width: 100%;
            }
        }
        &__content {
            flex-basis: 50%;
            position: relative;
            inset: var(--abstract-content-inset);
            display: flex;
            flex-direction: column;
            align-items: var(--abstract-content-flex-align);
            text-align: var(--abstract-text-align);
            padding: rem(25) rem(30);
            backdrop-filter: blur(10px);
            &:before {
                @extend %absoluteCentered;
                width: 100%;
                height: 100%;;
                content:'';
                background-color: var(--abstract-content-bgcolor);
                opacity: 0.2;
                z-index: 0;
            }
            > * {z-index: 1;}
        }
        &__eyelet {
            @extend %typo-component-eyelet;
        }
        &__title {
            @extend %typo-component-title;
        }
        &__subtitle {
            @extend %typo-component-subtitle;
        }
        &__text {
            @extend %typo-component-text;
        }
        &__ctas {
            display: flex;
            width: fit-content;
            gap: rem(10);
            margin: rem(10) 0;
        }
    }
}


@include responsiveTo('md') {
    .c-abstract {
        &,
        &.text-right,
        &.reverse {
            --abstract-flex-dir: column;
            --abstract-flex-align: flex-start;
            --abstract-content-flex-align: flex-start;
            --abstract-text-align: left;
        }
        /*
        &.full {
            .abstract__content {
                @include mainContainer();
            }
        }
        */
        .abstract {
            &__content {
                width: 100%;
                position: static;
                padding: rem(25) rem(25) rem(15) rem(25);
            }
            &__ctas {
                width: 100%;
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
}
