.c-alternate {
    --alternate-flex-dir: row;
    --alternate-paragraph-flex-align: flex-start;
    --alternate-paragraph-text-align: left;

    @extend %component-padding;
    
    overflow-x: hidden;

    &.reverse {
        --alternate-flex-dir: row-reverse;
    }
    .alternate {
        &__wrapper {
            @include mainContainer();
            position: relative;
            display: flex;
            flex-direction: var(--alternate-flex-dir);
            align-items: center;
            gap: rem(20);
        }
        &__paragraph {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: var(--alternate-paragraph-flex-align);
            text-align: var(--alternate-paragraph-text-align);
            padding: rem(25) 0;
            .paragraph {
                &__eyelet {
                    @extend %typo-component-eyelet;
                }
                &__title {
                    @extend %typo-component-title;
                }
                &__subtitle {
                    @extend %typo-component-subtitle;
                }
                &__text {
                    @extend %typo-component-text;
                }
                &__ctas {
                    display: flex;
                    gap: rem(10);
                    margin: 0;
                }
            }
        }
        &__image {
            flex: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__gallery {
            position: relative;
            flex: 1;
            margin: rem(20) 0 0;
            padding: rem(20) 0;

            .splide__pagination {
                bottom: rem(-20);
                .is-active {
                    background-color: getColor('dark');
                }
            }

            &:not([data-gallery]) {
                visibility: visible;
                .splide {
                    &__list {
                        display: block;
                    }
                    &__arrows {
                        display: none;
                    }
                }
            }

            .gallery {
                &__slide {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                }
                &__img {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                &__video-trigger {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .play,
                    .pause {
                        --icon-size: #{rem(70)};
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: rem(20);
                        border-radius: 50%;
                        border: rem(3) solid getColor('light');
                        color: getColor('light');
                        &:hover {
                            border-color: rgba(getColor('light'), 0.75);
                            color: rgba(getColor('light'), 0.75);
                        }
                    }
                    .pause {
                        display: none;
                    }
                }
            }
        }
    }
}

@include responsiveTo("lg") {
    .c-alternate {
        &,
        &.reverse {
            --alternate-flex-dir: column;
        }
        .alternate {
            &__wrapper {
                width: 100%;
            }
            &__gallery {
                padding: 0;
                @include mainContainer();
            }
            &__image {
                width: 100%;
            }
            &__paragraph {
                @include mainContainer();
                padding: 0;
                .paragraph {
                    &__text {
                        margin-top: rem(20);
                    }
                    &__ctas {
                        align-self: stretch;
                        margin-top: rem(35);
                    }
                }
            }
        }
    }
}
