.c-card-list {
    --component-text-align: center;
    --component-grid-gap: #{rem(20)};
    --component-grid-columns: repeat(auto-fit, minmax(calc(25% - #{var(--component-grid-gap)}), 1fr));

    @extend %component-padding;
    

    &.text-left {
        --component-text-align: left;
    }
    &.text-center {
        --component-text-align: center;
    }
    &.text-right {
        --component-text-align: right;
    }

    .card-list {
        &__wrapper {
            @include mainContainer();
        }
        &__head {
            text-align: var(--component-text-align);
            margin: 0 auto;
            padding-bottom: rem(40);
        }
        &__eyelet {
            @extend %typo-component-eyelet;
        }
        &__title {
            @extend %typo-component-title;
        }
        &__text {
            @extend %typo-component-text;
        }
        &__grid {
            display: grid;
            grid-template-columns: var(--component-grid-columns);
            justify-content: center;
            gap: var(--component-grid-gap);
        }
        &__flex {
            display: flex;
            justify-content: stretch;
            align-items: center;
            flex-wrap: wrap;
            gap: rem(20);
        }
    }
}

@include responsiveTo('xl') {
    .c-card-list {
        &.cols-4 {
            --component-grid-columns: repeat(auto-fit, minmax(calc(50% - #{var(--component-grid-gap)}), 1fr));
        }
    }
}

@include responsiveTo('md') {
    .c-card-list {
        &,
        &.cols-4 {
            --component-grid-columns: 1fr;
        }
    }
}

@include responsiveFrom('md') {
    .c-card-list {
        .card-list {
            &__head {
                max-width: 70%;
            }
        }
    }
}