.c-matrix {
    @extend %component-padding;
    
    .matrix {
        &__wrapper {
            @include mainContainer();
        }
        &__title {
            @extend %typo-component-title;
            text-align: center;
        }
        &__items {
            display: grid;
            grid-template-columns: repeat(auto-fit, var(--matrix-item-size, rem(150)));
            // grid-template-rows: var(--matrix-item-size, rem(200));
            grid-gap: var(--matrix-gap, rem(20));
            justify-content: center;
            margin: 6rem auto 0;
        }
        &__item {
        }
        &__link {
            display: block;
            width: 100%;
            height: 100%;
            &:hover {
                border: 1px solid getColor('dark');
            }
        }
        &__img {
            display: block;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                //object-position: center;
            }
        }
    }
}
