.c-table {
    --component-text-align: center;

    @extend %component-padding;
    

    &.text-left {
        --component-text-align: left;
    }
    &.text-center {
        --component-text-align: center;
    }
    &.text-right {
        --component-text-align: right;
    }
    .table {
        &__wrapper {
            @include mainContainer();
        }
        &__head {
            text-align: var(--component-text-align);
            max-width: 70%;
            margin: 0 auto rem(30);
            &__eyelet {
                @extend %typo-component-eyelet;
            }
            &__title {
                @extend %typo-component-title;
            }
            &__subtitle {
                @extend %typo-component-subtitle;
            }
            &__text {
                @extend %typo-component-text;
            }
        }
        &__table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ccc;
            margin: 0;
            padding: 0;
        }
        &__title {
            font-size: rem(24);
            margin: 0 0 rem(16);
        }
        &__header {
            font-size: rem(16);
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        &__body {
            font-size: rem(12);
        }
        &__row {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
        }
        &__cell {
            padding: rem(5);
            text-align: center;
        }
    }
}

@include responsiveTo(md) {
    .c-table {
        .table {
            &__table {
                display: block;
                border: none;
            }
            &__title {
                display: block;
                font-size: rem(18);
            }
            &__header {
                display: none;
            }
            &__body {
                display: block;
                font-size: rem(12);
            }
            &__row {
                display: block;
                padding: rem(10);
                margin-bottom: rem(10);
                &::before {
                    content: attr(data-label);
                    display: block;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 0 rem(10);
                }
            }
            &__cell {
                display: flex;
                justify-content: space-between;
                &::before {
                    content: attr(data-label);
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

