@mixin timelineLine() {
    &:before {
        // TIMELINE LINE
        // --tl-line-transform, translateY(-50%);
        // --tl-line-inset: 50% 0 auto;
        // --tl-line-width: auto;
        // --tl-line-height: 2px;
        // --tl-line-color: #{getColor('dark')};
        content: "";
        position: absolute;
        transform: var(--tl-line-transform, translateY(-50%));
        inset: var(--tl-line-inset, 50% 0 auto);
        width: var(--tl-line-width, auto);
        height: var(--tl-line-height, 2px);
        background-color: var(--tl-line-color, getColor('primary'));
    }
}

@mixin timelineArrow() {
    &::after {
        // TIMELINE ARROW
        // --tl-arrow-display: block;
        // --tl-arrow-transform: translateY(-50%) rotate(90deg);
        // --tl-arrow-inset: 50% 0 0 auto;
        // --tl-arrow-color: #{getColor('dark')};
        // --tl-arrow-size: 10px;
        position: absolute;
        content: "";
        display: var(--tl-arrow-display, block);
        transform: var(--tl-arrow-transform, translateY(-50%));
        inset: var(--tl-arrow-inset, 50% 0 auto auto);
        border-left: solid var(--tl-arrow-color, getColor('primary')) var(--tl-arrow-size, 10px);
        border-top: solid transparent var(--tl-arrow-size, 10px);
        border-bottom: solid transparent var(--tl-arrow-size, 10px);
    }
}

@mixin timelineItemDot() {
    // TIMELINE ITEM DOT
    // --tl-item-dot-inset: auto auto auto 100%;
    // --tl-item-dot-transform: translateX(-50%);
    // --tl-item-dot-size: 10px;
    // --tl-item-dot-color: gray;
    &:after {

        content: "";
        position: absolute;
        inset: var(--tl-item-dot-inset, auto auto auto 100%);
        transform: var(--tl-item-dot-transform, translateX(-50%));
        border-radius: 50%;
        width: var(--tl-item-dot-size, 10px);
        height: var(--tl-item-dot-size, 10px);
        background: var(--tl-item-dot-color, gray);
    }
}

@mixin timelineItemWrapperArrow() {
    &::after {
        // TIMELINE ITEM ARROW
        // --tl-item-arrow-display: block;
        // --tl-item-arrow-inset: 100% auto auto 50%;
        // --tl-item-arrow-transform: translateX(-50%);
        // --tl-item-arrow-color: lightgray;
        // --tl-item-arrow-size: 8px;
        content: "";
        display: var(--tl-item-arrow-display, block);

        position: absolute;
        inset: var(--tl-item-arrow-inset, 100% auto auto 50%);
        transform: var(--tl-item-arrow-transform, translateX(-50%));

        // arrow size and shape
        border-bottom: solid var(--tl-item-arrow-color, lightgray) var(--tl-item-arrow-size, 8px);
        border-left: solid transparent var(--tl-item-arrow-size, 8px);
        border-right: solid transparent var(--tl-item-arrow-size, 8px);
    }
}

.c-timeline--horizontal {
    // TIMELINE VARIABLES
    --timeline-direction: row;
    --timeline-height: 70vh;
    --timeline-padding: 0 #{rem(200)} 0 0;
    --timeline-overflow: auto;
    --tl-item-width: #{rem(200)};
    --tl-item-height: 100%;
    --tl-item-align: flex-start;
    --tl-item-wrapper-width: #{rem(400)};
    --tl-item-wrapper-height: 45%;

    @extend %component-padding;
    

    &.reversed {
        --timeline-direction: row-reverse;
        --tl-arrow-inset: 50% auto auto 0;
        --tl-arrow-transform: translateY(-50%) rotate(-180deg);
    }
    .timeline {
        &__wrapper {
            position: relative;
            @include mainContainer();
        }
        &__head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: rem(20);
            margin-bottom: rem(30);
        }
        &__eyelet {
            @extend %typo-component-eyelet;
        }
        &__title {
            @extend %typo-component-title;
            margin: 0;
        }
        &__ctas {
            display: flex;
            flex-direction: column;
            gap: rem(20);
        }
        &__content{
            position: relative;
            @include timelineLine();
            @include timelineArrow();
        }
        &__items {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: var(--timeline-direction);
            height: var(--timeline-height);
            max-width: 100%;
            padding: var(--timeline-padding);
            gap: rem(30);
            overflow: var(--timeline-overflow);
        }
        &__item {
            align-self: stretch;
            flex-shrink: 0;
            width: var(--tl-item-width);
            height: var(--tl-item-height);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include timelineItemDot();
            &__wrapper {
                background-color: getColor('grey-05');
                left: 0;
                position: absolute;
                border-radius: rem(4);
                padding: rem(20);
                align-self: var(--tl-item-align);
                width: var(--tl-item-wrapper-width);
                height: var(--tl-item-wrapper-height);
                @include timelineItemWrapperArrow();
            }
            &:nth-child(odd) {
                --tl-item-arrow-transform: translateX(-50%) rotateZ(180deg);
            }
            &:nth-child(even) {
                --tl-item-align: flex-end;
                --tl-item-arrow-inset: auto auto 100% 50%;
            }
        }
    }
}

@include responsiveTo(md) {
    .c-timeline--horizontal {
        --timeline-direction: column;
        --timeline-overflow: visible;
        --timeline-padding: 0;

        --tl-line-transform: translateX(-50%);
        --tl-line-width: 1px;
        --tl-line-height: 100%;
        --tl-line-inset: 0 auto 0 0;

        --tl-arrow-display: none;

        --tl-item-wrapper-width: 90%;
        --tl-item-height: auto;
        --tl-item-width: auto;
        --tl-item-wrapper-height: auto;

        --tl-item-dot-inset: auto auto auto 0;
        --tl-item-dot-transform: translateX(-50%);

        &.reversed {
            --timeline-direction: column-reverse;
        }
        .timeline {
            &__head {
                align-items: stretch;
                flex-direction: column;
            }
            &__items {
                height: unset;
                padding-right: 0;
                overflow-x: visible;
            }
            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                &__wrapper {
                    position: relative;
                }
                &:nth-child(even),
                &:nth-child(odd) {
                    --tl-item-align: flex-end;
                    --tl-item-arrow-inset: 50% 100% auto auto;
                    --tl-item-arrow-transform: translateY(-50%) rotate(270deg);
                }
            }
        }
    }
}
